<app-header></app-header>

  <br>
  
  <!-- Main Content -->
  <div class="container-fluid">
    <div class="row main-content bg-success text-center">
      <div class="col-md-4 text-center company__info">
       
      </div>
      <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <h2>Log In</h2>
          </div>
          <div *ngIf='loginError' class="alert alert-danger" role="alert">
            <h4>Login Unsuccessfull</h4>
            {{loginError}}
          </div>
          <div class="row">
            <form (ngSubmit)="OnSubmit()"  class="form-group justify-content-center">
              <div class="row">
                <input [(ngModel)]="loginData.username" type="text" name="first" id="username" class="form__input" placeholder="Username">
              </div>
              <div class="row">
                <!-- <span class="fa fa-lock"></span> -->
                <input type="password" name="password" id="password" [(ngModel)]="loginData.password" class="form__input" placeholder="Password">
              </div>
              
              <div class="row">
                <input type="submit" value="Submit" class="btn">
              </div>
            </form>
          </div>
          <div class="row">
            <p>Don't have an account? <a routerLink = '/signup'>Register Here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>


