body{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}
.contact-form{
    background: #fff;
    margin-top: 7.35%;
    width: 75%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;

}
.contact-form h2{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #5b72a5;
    font-weight: bolder;
}
.contact-form .btnContact {
    width: 30%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #0275d8;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    
}
.btnContactSubmit
{
    width: 30%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.file-upload input[type='file'] {
    display: none;
  }
.buttons{

    margin-left: 25%;
}

